<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src='js/script.js' type='text/javascript' defer></script>
    <title>Document</title>
</head>
<body>
    <form id="formulario">
        <div class="container">
            <label>Quantidade de solicitações</label>
            <input id="soli" type="number" min="1">
            <label>Intervalo de tempo em Minutos</label>
            <input id="tempo"type="number" min="1">
            <input type="submit" value="Enviar">
        </div>
    </form>
</body>
</html>